*{
    margin: 0;
    padding: 0;
}
.box{
    padding:50px 20px ;    
    background-color: aliceblue;
    border-radius: 15px;
    width: 400px;
}
.InputBox{
    display: flex;
    margin-bottom: 30px;
}
.InputBox input{
    display: inline-block;
    width: 360px;
    height: 60px;
    border-radius:35px;
    border: 0;
    outline: none;
}
.ListBox ul li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.allList div{
    margin-top:20px; 
    padding: 10px; 
    width: 360px;
    background-color: white; 
    border-radius: 15px;
}
.allList button{
    float: right;
}